#actors{
  .actors{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
      display: none;
    }
    &--card{
    transition: .4s;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 10px;
    width: 50%;
    height: 35%;
    border: 3px solid black;
      img{
        width: 138px;
        height: 173px;
        border-radius: 10px;
      }
      &__name{
        font-size: 20px;
        color: black;
        font-weight: 800;
        text-align: center;
        font-family: "Poor Richard",sans-serif;
        transition:.4s;
      }
      &__name:hover{
        color: #961616;

      }
      &__role{
        text-align: center;
        font-weight: 800;
        color: gray;
        transition: .4s;
        font-family: "Poor Richard",sans-serif;
        font-size: 20px;

      }
      &__role:hover{
        color: cyan;
      }
      &__user{
        width: 138px;
        height: 175px;
      }

    }
    &--card:hover{
      transform: scale(1.04);
    }
  }
}