#footer{
  background: url(https://images.wallpaperscraft.ru/image/single/linii_shtrihi_piatna_137329_3240x5760.jpg) repeat;
  width: 100%;
  animation: animated-bg 60s linear infinite;

  .footer{
    hr{
      border: 5px solid red;
    }
    &--title{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;

      a{
        transition: .4s;
        color: white;
        font-family: "Poor Richard",sans-serif;
        margin: 5% 10px;
        font-size: 20px;
      }

      &__icons{
        margin: 2% 0 0  0;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        color: white;
        p{
          font-size: 20px;
          font-family: "Poor Richard",sans-serif;
          font-weight: 200;
        }
       div{
       }
        &--insta{
          background: 0;
          font-size: 25px;
        }
        &--github{
          background: 0;
          font-size: 25px;
        }
        &--whatsapp{
          background: 0;
          font-size: 25px;
        }
        &--linkedin{
          background: 0;
          font-size: 25px;
        }&--telegram{
        background: 0;
          font-size: 25px;
        }
        &--insta:hover{
          color: red;
          transform: scale(1.03);
        }
        &--telegram:hover{
          background: white;
          width: 5px;
          height: 5px;
          border-radius: 50% 50% 50% 50%;
          color: black;
          transform: scale(1.03);
        }
        &--github:hover{
          color: gray;
          transform: scale(1.03);
        }
        &--linkedin:hover{
          color: blue;
          transform: scale(1.03);
        }
        &--whatsapp:hover{
          color: forestgreen;
          transform: scale(1.03);
        }
      }
    }
  }
}
@keyframes animated-bg {
  from { background-position: 0 0; }
  to { background-position: 0 1000px; }
}
