#info{
  margin: 20px 20px;
  .info{
    display: flex;
    &--title{

      color: white;
      font-family: "Poor Richard",sans-serif;
      font-weight: 500;
      font-size: 20px;
      &__actor{
        border-radius: 10px;
      }
      &__about{
        width: 280px;
      }
    }
    &--nav{
      width: 70%;
      margin: 0 0 0 3% ;
      &__bio{
        font-family: "Poor Richard",sans-serif;
        font-size: 30px;
        font-weight: 500;
        &--all{
          cursor: pointer;
          font-weight:800;
          font-family:"Source Code Pro",sans-serif;
          transition:.4s;
          font-size: 19px;
        }
        &--all:hover{
            color: blue;
        }
      }
      p::selection{
          background-color: aquamarine;
      }
    }
  }
}