@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
 #second{
   .second{

     &--tv{
       &__image{
         width: 100%;
         height: 300px;
       }
       &__video{
        video{
          position: absolute;
          left: -12%;
          width: 100%;
          height: 169px;
        }

       }
     }
   }
 }


}

@media (max-width: 1140px) {
  #second{
    .second{

      &--tv{
        &__video{

        }
      }
    }
  }
  #last{
    .last{
      &--tv{
        &__image{
          width: 100%;
          height: 290px;
        }
        video{
          height: 139px;
        }
      }
    }
  }

}

@media (max-width: 1024px) {

  #info{
   .info{

     &--nav{
       &__bio{
         width: 90%;
       }
     }
   }
  }
}

@media (max-width: 992px) {
  #second{
    .second{
       flex-direction: column;
       text-align: center;
      &--tv{
        &__video{
           video{

           }
        }
      }
    }
  }
  #last{
    .last{
      flex-direction: column;
      text-align: center;
      &--tv{

          video{
            right: 0;

        }
      }
    }
  }
}

@media (max-width: 800px) {
  #detail{
   .detail{
     &--nav{

       &__genres{
         font-size: 13px;
       }
     }
   }
 }
  #info{
  .info{
    &--nav{
      width: 56%;
    }
  }
}
  #hero{
    .hero{
     h1{

     }
    }
  }
}


@media (max-width: 768px) {
  #detail{
    .detail{
      &--nav{
        &__genres{
          font-size: 12px;
        }
      }
    }
  }
  #info{
    .info{
      &--nav{
        &__bio{
          width: 68%;
        }
      }
      &--title{
        &__actor{
          width: 300px;
          height: 350px;
        }
      }
    }
  }
  .movie{
    &--actor{
      &__image{
        height: 200px;
      }
      &__title{
        font-size: 15px;
        color: dimgray;
      }
    }
  }
  #header{
    .header{
      height: 70px;
      &--item{
       position: relative;
        width: 30px;
        height: 2px;
        color: blue;
      }
      a{
        display: none;
      }
    }
  }
  #hero{
    .hero{
      &--title{
        h1{
          color: red;
        }
      }
    }
  }

}

@media (max-width: 576px) {
  #detail{
    .detail{

      &--title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &__img{
          width: 390px;
          height: 350px;
        }
      }
      &--nav{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #info{
    .info{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      &--nav{
        &__bio{
          width: 100%;
        }
      }
      &--title{
        &__actor{
          width: 273px;
          height: 280px;
        }
        &__about{
          span{
            font-size: 29px;
          }
          p{
            font-size: 29px;
          }
        }
      }
    }
  }
  .movie{
    &--actor{
      &__image{
        height: 170px;
      }
      &__title{
        font-size: 10px;
        color: dimgray;
      }
    }
  }
  #header{
    .header{
      height: 50px;

      a{
        display: none;
      }
      &--nav{
        &__search{


        }
      }
    }
  }
}

@media (max-width: 475px) {
  #info{
    .info{
      &--nav{
        margin: 0 0 0 4%;
        width: 100%;
        &__bio{
          font-size: 17px;
          width: 100%;
        }
      }
      &--title{
        &__actor{
          width: 191px;
          height: 231px;
        }
      }
    }
  }
  .movie{
    &--actor{
      &__image{
        height: 170px;
      }
      &__title{
        font-size: 10px;
        color: dimgray;
      }
    }
  }
  #header{
    .header{
      height: 50px;

      a{
        display: none;
      }
      &--nav{
        &__search{


        }
      }
    }
  }
  #last{
    .last{

    }
  }
  #second{
    .second{
      &--tv{
        &__image{
          height: 271px;
        }
      }
    }
  }
  #hero{
    .hero{
      &--title{
        h1{

        }
        &__watch{
          input{
            margin: 10px 0;
          }
          button{

          }
        }
      }
    }
  }

}

@media (max-width: 462px) {
  #detail{
    .detail{
      &--title{
        &__img{
          width: 348px;
          height: 310px;
        }
      }
    }
  }
  #info{
    .info{
      &--nav{

      }
      &--title{
        &__actor{
          width: 254px;
          height: 259px;
        }
      }
    }
  }
}



@media (max-width: 400px) {
  #detail{
    .detail{
      &--nav{
        &__genres{
          font-size: 10.9px;
        }
      }
    }
  }
  #info{
    .info{
      flex-direction: column;
      &--nav{
        margin: -27px 0 0 -13%;
        width: 100%;
        &__bio{
          font-size: 17px;
          width: 110%;
        }
      }
      &--title{
        &__about{
          font-size: 22px;
        }
        &__actor{
          width: 261px;
          height: 247px;
        }
      }
    }
  }
  .movie{
    &--actor{
      &__image{
        height: 170px;
      }
      &__title{
        font-size: 10px;
        color: dimgray;
      }
    }
  }
  #header{
    .header{
      height: 50px;

      a{
        display: none;
      }
      &--nav{
        &__search{


        }
      }
    }
  }
  #second{
    .second{
      &--tv{
        &__image{
          height: 226px;
        }
        &__video{
         video{
           height: 120px;
           left: -14%;
        }
        }
      }
    }
  }

      h1{

      }


}

@media (max-width: 380px) {
  #detail{
    .detail{
      &--title{
        &__img{
          width: 259px;
          height: 251px;
        }
      }
      &--nav{
        &__genres{
          font-size: 9.9px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #detail{
    .detail{
      &--title{
        &__img{
          width: 259px;
          height: 251px;
        }
      }
      &--nav{
        &__genres{
          display: flex;
          flex-direction: column;
          font-size: 15px;
        }
      }
    }
  }
  #second{
    .second{
      &--tv{
        &__video{
          height: 158px;
          video{
            height: 106px;
            width: 100%;
            left: -13%;
          }
        }
        &__image{
          height: 204px;
        }
      }
    }
  }
  #last{
    .last{
      &--tv{
          video{
            height: 130px;
        }
      }
    }
  }

}

@media (max-width: 320px) {
  #detail{
    .detail{
      &--title{
        &__img{
          width: 259px;
          height: 251px;
        }
      }
      &--nav{
        &__genres{
          display: flex;
          flex-direction: column;
          font-size: 15px;
        }
      }
    }
  }
  #header{
    .header{
      &--nav{
        &__search{
          max-width: 100px;
        }
      }
    }
  }
  #second{
    .second{
      &--tv{
        &__video{

          video{
            height: 94px;
          }
        }
        &__image{
          height: 176px;
        }
      }
    }
  }
  #last{
    .last{
      &--tv{
        video{
          height: 107px;
        }
        &__image{
          height: 237px;
        }
      }
    }
  }
}