//@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200;1,400;1,700&display=swap");
@import "style/Detail";
@import "style/Actors";
@import "style/info";
@import "style/MovieActor";
@import "style/header";
@import "style/main";
@import "style/hero";
@import "style/footer";


a{
    text-decoration: none;
}
//.container{
//    width: 90%;
//    margin: 0 auto;
//}

.active{
    border-bottom: 3px solid red;
    border-radius: 5px;
    transition: .4s;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(190, 188, 188, 0.54);
}
::-webkit-scrollbar-thumb{
    background: rgba(16, 13, 13, 0.47);;
    border-radius: 20px;
}
p::selection{
    background-color: cyan;
}
h1::selection{
    background-color: cyan;
}
span::selection{
    background-color: cyan;
}
body,html{
    overflow-x: hidden;
}