//@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200;1,400;1,700&display=swap");
@import "style/Detail";
@import "style/Actors";
@import "style/info";
@import "style/MovieActor";
@import "style/header";
@import "style/main";
@import "style/hero";
@import "style/footer";


a{
    text-decoration: none;
}
.active{
    border-bottom: 3px solid red;
    border-radius: 5px;
    transition: .4s;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(180, 47, 47, 0.8);
}

::-webkit-scrollbar-thumb{
    background: rgba(246, 10, 10, 0.96);;
    border-radius: 20px;
}
p::selection{
    font-family: "Poor Richard",sans-serif;
    background-color: rgba(255, 0, 106, 0.76);
}

h1::selection{
    font-family: "Poor Richard",sans-serif;
    background-color: cyan;
}

span::selection{
    font-family: "Poor Richard",sans-serif;
    background-color: cyan;

}
.rated{
    background: url("https://images.wallpaperscraft.ru/image/single/kuby_struktura_chernyj_120005_1280x720.jpg") repeat;
    animation: animated-bg 60s linear infinite;
}

#popular{
    background: url("https://images.wallpaperscraft.ru/image/single/kosmicheskij_vzryv_iarkij_linii_136994_1280x720.jpg") repeat;
    animation: animated-bg 30s linear infinite;

}

@keyframes animated-bg {
    from { background-position: 0 0; }
    to { background-position: 0 1000px; }
}
body,html{
    background: rgb(15,15,32);
    background: linear-gradient(90deg, rgba(15,15,32,1) 16%, rgba(136,112,136,0.8016456582633054) 45%, rgba(24,12,19,1) 100%, rgba(68,42,48,0.7484243697478992) 100%);
    overflow-x: hidden;
}
